.addLiquidity {
  height: 1508px;
  background: #f9f9f9;
  .your-position {
    height: 100px;
    font-size: 30px;
    font-family: AlibabaSans-Bold, AlibabaSans;
    font-weight: bold;
    color: #313131;
    line-height: 100px;
    border-bottom: 1px solid #d8d8d8;
  }
  .tab-container {
    margin: 0 30px 0;
    .cell {
      padding: 0;
    }
    .organization-name {
      font-size: 24px;
      font-family: AlibabaSans-Regular, AlibabaSans;
      font-weight: 400;
      color: #323232;
      line-height: 38px;
    }
    .organization-value {
      font-size: 30px;
      font-family: AlibabaSans-Medium, AlibabaSans;
      font-weight: bold;
      color: #323232;
      line-height: 47px;
    }
  }
}
