.exchange-wrap {
  // height: 100%;
  .exchange {
    background: #f9f9f9;
    min-height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .exchange-wrap {
    // padding: 0 0 169px 0;
    // min-height: 100%;
    .content-wrap {
      padding: 0 0 169px 0;
      .btn.confirm {
        width: 540px;
        margin: 50px auto;
      }
    }
    .pannel-info {
      text-align: center;
      &.pd {
        padding: 0 50px 50px;
      }
      .headline {
        text-align: left;
      }
    }
  }
}
