.exchange {
    height: 1508px;
    background: #F9F9F9;
}
@media screen and (min-width: 1200px) {
    .exchange {
        .content-wrap {
            .btn.confirm{
                width: 540px;
                margin:50px auto;
            }
        }
        .pannel-info{
            text-align: center;
            .headline{text-align: left;}
        }
    }
}
