.header {
  position: relative;
  width: 100%;
  height: 100px;
  background: #fff;
  padding: 0 50px;
  border-bottom: 1px solid #E5E5E5;
  .logo {
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      width: 289px;
      height: 50px;
      background: transparent url(../images/invite/logo.png) no-repeat center / contain;
  }
  .menu {
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: 50px;
      width: 80px;
      height: 64px;
      background: transparent url(../images/invite/menu.png) no-repeat center / contain;
  }
}