.pannel-info {
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #e8e8e8;
  color: #323232;
  margin-top: 50px;
  font-family: Alibaba Sans;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  .el-tabs__nav {
    width: 100%;
    .el-tabs__item {
      width: 50%;
      margin: 0;
    }
  }
  .el-tabs--border-card>.el-tabs__content {
    padding: 50px 30px;
  }
  .mt50 {
    margin-top: 50px;
  }
  &.pd {
    padding: 0px 30px 50px;
  }
  > .title {
    font-size: 34px;
    font-weight: bold;
    text-align: left;
    line-height: 52px;
  }
  .split{   
      height: 1px;
      background: #D8D8D8;
      border: 1px solid #D8D8D8;
  }
  .rect {
    border-radius: 15px 12.5px 12.5px 12.5px;
    background-color: #fff0e6;
    font-size: 20px;
    line-height: 70px;
    margin: 50px auto;
    text-align: center;
  }
  .desc {
    font-size: 24px;
    text-align: left;
    line-height: 38px;
    &.desct-mt {
      margin-top: 20px;
    }
    &.min-height-304 {
      min-height: 304px;
    }
  }
}

.pannel-info-share {
  text-align: left;
  margin: 50px auto;
  &.mt50 {
    margin-top: 50px;
  }
  .title {
    height: 47px;
    font-size: 30px;
    font-family: AlibabaSans-Bold, AlibabaSans;
    font-weight: bold;
    color: #313131;
    line-height: 47px;
  }
  .item-box {
    text-align: center;
    width: 30%;
    margin-right: 3%;
    display: inline-block;
    box-sizing: border-box;
    font-family: AlibabaSans-Medium, AlibabaSans;
    background-color: #fff0e6;
    height: 140px;
    border-radius: 15px;
    border: 1px solid #e8e8e8;
    &.nobg{
      width: 47%;
      background: #FFFFFFFF;
      &.select{
        background: linear-gradient(90deg, #FF8E18 0%, #FF4804 100%);
        .num,.text-info{
          color: #F9F9F9FF;
        }
      }
    }
    .num {
      margin-top: 30px;
      font-weight: 500;
      color: #323232;
      line-height: 56px;
      font-size: 36px;
      height: 56px;
    }
    .text-info {
      height: 25px;
      font-size: 16px;
      font-weight: 400;
      color: #999999;
      line-height: 25px;
    }
  }
  .btn {
    width: 45%;
    display: inline-block;
    text-align: center;
    margin-right: 5%;
  }
}
