.remove-liquidity {
  .inner-wrap {
    .content {
      padding: 30px 30px 50px 30px;
      background: #ffffff;
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      border: 1px solid #e8e8e8;
      .title {
        font-size: 36px;
        font-weight: bold;
        color: #323232;
        line-height: 56px;
      }
      .per-container {
        .top-container {
          .current-value {
            margin: 66px auto 30px;
            text-align: center;
            font-size: 60px;
            font-weight: bold;
            color: #ff652b;
            line-height: 93px;
            div {
              display: inline-block;
            }
          }
          .slider-outer {
            .slider-container {
              .track {
                height: 10px;
                background: #f9f9f9;
                border-radius: 14px;
                .process {
                  width: 50%;
                  height: 10px;
                  background: #fff0e6;
                  border-radius: 14px;
                }
              }
              .block {
                transform: translate(-50%, -50%);
                position: absolute;
                left: 50%;
                top: 50%;
                width: 40px;
                height: 40px;
                background: #ffffff;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
                .block-inner {
                  transform: translate(-50%, -50%);
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 26px;
                  height: 26px;
                  background: #ff652b;
                }
              }
            }
            .scale {
              display: flex;
              flex-wrap: nowrap;
              justify-content: space-between;
              align-items: center;
              margin: 15px 0 30px 0;
              .calibration {
                width: 2px;
                height: 10px;
                background: #d8d8d8;
                border-radius: 2px;
              }
            }
          }
        }
        .mode {
          .mode-item {
            width: 112px;
            height: 70px;
            border-radius: 35px;
            border: 2px solid #e5e5e5;
            .active {
              background: linear-gradient(90deg, #ff8e18 0%, #ff4804 100%);
              border-radius: 35px;
            }
          }
        }
      }
      &.sec {
        .info-container {
          padding: 20px 0 50px 0;
          .info-item {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            line-height: 80px;
            background: #f9f9f9;
            border-radius: 15px;
            &:not(:first-child) {
              margin: 10px 0 0 0;
            }
            .icon-txt {
              display: flex;
              flex-wrap: nowrap;
              justify-content: flex-start;
              align-items: center;
              .icon {
                width: 60px;
                height: 60px;
              }
              .key {
                font-size: 30px;
                font-weight: bold;
                color: #323232;
              }
            }
            .value {
              height: 38px;
              font-size: 24px;
              color: #323232;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
}
